@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nanum+Brush+Script&family=Nunito+Sans:ital,wght@1,600&display=swap");

* {
  margin: 0;
}

#container {
  position: absolute;
  width: 80%;
  left: 10%;
}

header {
  /* border: 1px solid black; */
  height: 15%;
}

header h1 {
  text-align: center;
  padding-top: 18px;
  font-family: "Indie Flower", cursive;
}

#day_time {
  text-align: right;
  margin-right: 20px;
  font-size: 18px;
}

.search {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.search input[type="text"] {
  width: 400px;
  padding: 5px;
}

.search i {
  position: absolute;
  right: 0;
  font-size: 18px;
  padding: 5px;
}

.todo {
  margin-top: 60px;
  width: 100%;
  height: 100%;
}

.todo article h2 {
  font-family: "Nanum Brush Script", cursive;
  font-size: 40px;
  text-align: center;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  width: 80%;
  padding: 10px;
}

.todo article ul li {
  font-family: "Nunito Sans", sans-serif;
  list-style: none;
  font-size: 20px;
  padding: 5px;
}

#todo_check {
  display: inline-block;
  width: 50%;
}

#todo_time {
  position: absolute;
  display: inline-block;
  left: 50%;
  width: 50%;
}
