@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nanum+Brush+Script&family=Nunito+Sans:ital,wght@1,600&display=swap");

* {
  margin: 0;
}

body {
  margin-left: 10%;
  height: 100vh;
}

#container {
  position: absolute;
  width: 80%;
  height: 100%;
  background-color: #ff9;
}

header {
  /* border: 1px solid black; */
  height: 15%;
}

header h1 {
  text-align: center;
  padding-top: 18px;
  font-family: "Indie Flower", cursive;
}

#day_time {
  text-align: right;
  margin-right: 20px;
  font-size: 18px;
}

.search {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.search input[type="text"] {
  width: 400px;
  padding: 5px;
}

.search i {
  position: absolute;
  right: 0;
  font-size: 18px;
  padding: 5px;
  border-left: 1px solid black;
}

.todo {
  position: absolute;
  display: flex;
  margin-top: 60px;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-between;
  /* border: 1px solid black; */
}

.todo .tdItem {
  width: 50%;
  /* border: 1px solid black; */
}

.todo .tdItem h2 {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  font-family: "Nanum Brush Script", cursive;
  font-size: 40px;
  width: 80%;
  padding: 10px 0px;
}

.todo .tdItem ul {
  /* border: 1px solid black; */
  position: relative;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
}

.todo .tdItem ul li {
  font-family: "Nunito Sans", sans-serif;
  list-style: none;
  font-size: 20px;
  border-bottom: 1px solid #bbcc99;
  padding-top: 7px;
}

.todo .tdItem ul li:first-child {
  padding-top: 20px;
}
