@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Indie+Flower&family=Nanum+Brush+Script&family=Nunito+Sans:ital,wght@1,600&display=swap");

* {
  margin: 0;
}

body {
  margin-left: 10%;
  height: 100vh;
}

#container {
  position: absolute;
  width: 80%;
  height: 100%;
  background-color: #ff9;
}

header {
  height: 130px;
}

header h1 {
  text-align: center;
  padding-top: 18px;
  font-family: "Indie Flower", cursive;
}

#day_time {
  font-size: 22px;
  text-align: right;
  padding-right: 10%;
  font-family: "Bebas Neue", cursive;
}

.search {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.search input[type="text"] {
  width: 400px;
  padding: 5px;
  outline: none;
}

.search .far {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  text-align: center;
  height: 28px;
  line-height: 28px;
  border-left: 1px solid black;
  cursor: pointer;
}

.search .far.fa-clock {
  font-size: 16px;
}

#def_day {
  display: none;
  margin: 0px auto;
  margin-top: 9px;
  padding: 2px;
}

.todo {
  position: absolute;
  display: flex;
  margin-top: 80px;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-between;
}

.todo .tdItem {
  width: 50%;
}

.todo .tdItem h2 {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  font-family: "Nanum Brush Script", cursive;
  font-size: 40px;
  width: 80%;
  padding: 10px 0px;
}

.todo .tdItem ul {
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  position: relative;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
}

.todo .tdItem ul li {
  font-family: "Nunito Sans", sans-serif;
  list-style: none;
  font-size: 20px;
  border-bottom: 1px solid #bbcc99;
  padding-top: 7px;
}

.todo .tdItem ul li:first-child {
  padding-top: 20px;
}

.todo .tdItem ul li button {
  position: absolute;
  right: 0;
}
