@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Noto+Sans+KR&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h2 {
  margin: 0;
  font-family: "Dancing Script", cursive;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#top_header {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  padding-left: 20px;
  padding-top: 10px;
}

#top_header h2 {
  cursor: pointer;
  padding: 0;
}

#find_img {
  position: relative;
  margin-left: 20px;
  width: 250px;
}

#find_img input {
  border: 1px solid black;
  width: inherit;
  height: 28px;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
}

#find_img i {
  border-left: 1px solid black;
  position: absolute;
  top: 0;
  right: 0;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
}
#find_img i:hover {
  cursor: pointer;
}

#choice {
  border-bottom: 1px solid lightgray;
  padding: 10px;
  padding-left: 20px;
}

#choice span {
  font-family: "Noto Sans KR", sans-serif;
  margin-right: 30px;
}

#choice span:hover {
  cursor: pointer;
}

#img_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#img_container article {
  width: 400px;
  height: 300px;
  margin: 30px;
}

#img_container article:hover {
  cursor: pointer;
}

#img_container article img {
  width: 100%;
  height: 100%;
}

footer {
  border-top: 1px solid lightgray;
  bottom: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: right;
  padding-right: 20px;
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  #top_header h2 {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    padding: 8px 0px;
    background-color: lightgray;
  }

  #top_header form {
    display: none;
  }
  #img_container article {
    width: 130px;
    height: 80px;
  }

  #choice {
    left: 0px;
    text-align: center;
    padding-top: 40px;
  }
}
